/* dm-serif-display-regular - latin */
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/dm-serif-display-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dm-serif-display-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dm-serif-display-v9-latin-regular.ttf') format('truetype');
  }

  /* public-sans-regular - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/public-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/public-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/public-sans-v11-latin-regular.ttf') format('truetype');
  }

  /* public-sans-700 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src:
       url('../fonts/public-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/public-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/public-sans-v11-latin-700.ttf') format('truetype');
}